
@*Display Title Using Controller*@
@*@{ 
    ViewData["Title"] = "About Us";
}*@
@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Page</li>
        </ol>
    </nav>
}
