@model BookStore.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css"
      rel="stylesheet" type="text/css" />
<div class="container">
    <div class="card my-5">
        <div class="card-header bg-gradient">
            <h4 class="text-success">Change Your Password</h4>
        </div>
        <div class="card-body">
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="ChangePassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CurrentPassword" class="control-label"></label>
                            <input asp-for="CurrentPassword" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Chnage Your Password" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <embed src="~/Images/svg/ForgotPassword.svg" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

@if (ViewBag.IsSuccessed == true)
{
    <script type="text/javascript">
        swal('Yeah!', 'Password Change Successfully', 'success');
    </script>
}      