@model BookStore.Models.ForgetPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card my-5">
        <div class="card-header bg-gradient">
            <h4 class="text-success">Forget Password  😂</h4>
        </div>
        <div class="card-body">
            <hr />
            <div class="row">
                <div class="col-md-6 pt-5">
                    @if (Model?.EmailSent == true)
                    {
                        <div class="alert alert-success" role="alert">
                            <p>If You Are Registered with us then you can get Link on Email </p>
                            <b>We have Sent Email on your register email id</b>
                        </div>
                    }
                    else
                    {
                        <form asp-action="ForgotPassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Send Mail" class="btn btn-outline-primary" />
                            </div>
                        </form>
                    }
                    <div>
                        <a asp-action="Singin" asp-controller="Account">Back to Login</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <embed src="~/Images/svg/ForgotPassword.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
