@model BookStore.Models.SignInModel

@{
    ViewData["Title"] = "Singin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card my-5">
        <div class="card-header bg-gradient">
            <h4 class="text-success">Sing In</h4>
        </div>
        <div class="card-body">
            <hr />
            <div class="row">
                <div class="col-md-6">
                    @* Remove asp-action="Singin" for redirection for last opened page *@
                    @*<form asp-action="Singin">*@
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Singin" class="btn btn-primary" />
                        </div><div>
                            <p>
                                Not Have ?  <a class="text-decoration-none" asp-controller="Account" asp-action="singup"> Sing Up 😊</a>
                                            <br />
                                Missing Your Password ?<a asp-action="ForgotPassword" asp-controller="Account"> ForgotPassword 😢</a>
                            </p>
                        </div>
                    </form>
                </div> <div class="col-md-6">
                    <embed src="~/Images/svg/Signin.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
