@model int
@{
    ViewData["Title"] = "Details";
}

<h1>Details from Admin and Value -: @Model</h1>

@* add _ViewImports for tag helper *@
<a asp-area="" asp-controller="home" asp-action="index">Back to Main Page</a>

