<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - BookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        @*<a href="mailto:tirth@gmail.com">tirth@gmail.com</a>
            <custom-email></custom-email>*@
        @*<custom-email></custom-email>*@

        <custom-email my-email="tirthshah@gmail.com"></custom-email>
    </div>
</footer>